body {
  font-family: 'Avenir';
  background: #dcdcdc;
  width: 100%;
  margin: 0;
  color: #333;
  min-width: 1200px;
}
body h1,
body h3 {
  text-align: center;
  color: #787878;
}
body a {
  text-decoration: none;
  color: #32aceb;
}
body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: none;
  text-rendering: optimizeLegibility;
}
.container {
  width: 100%;
  background: #fff;
  display: table;
  margin: auto;
}
