// .styl files use Stylus.
// Learn more at stylus-lang.com
// To compile, run $ stylus -w from root directory

// iPhone 6 in portrait & landscape
@media only screen and (min-device-width : 320px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio: 4)
  body
    .container
      nav
        padding 30px 40px 30px 30px
        box-shadow 0 3px 5px rgba(0,0,0,0.1)

        .logo
          img
            height 100px

        button#mobileMenu
            display block
            background transparent
            border none
            font-size 500%
            float right
            padding 0 10px 0 150px

        .links
          overflow hidden
          display block
          height 0px

          &.open
            height auto
            position absolute
            background white
            z-index 10
            right 20px
            top 150px
            padding 20px 20px 20px 0
            box-shadow 0 5px 4px rgba(0,0,0,0.2)

            a
              margin-bottom 10px

          a
            font-size 400%
            float none
            display block

      .content
        width 800px

        h2
          font-size 60px

        p
          font-size 40px

      footer
        .links
          width initial

          a
            margin 0 12px
            font-size 40px

            &.rounded
              margin-top 80px
              margin-bottom 40px

      section
        &.jumbotron, &.following
          background-image none

          img
            float left
            display block

        &.band
          p
            font-size 65px
            margin 170px 0 0 150px

        &.jumbotron
          height auto

          .aside
            background #fafafa
            padding 60px
            float right
            top initial
            left initial
            transform initial
            max-width 100%
            position relative
            box-sizing border-box

            p
              &:nth-of-type(1)
                font-size 400%
              &:nth-of-type(2)
                font-size 300%
              &:nth-of-type(3)
                font-size 250%

            a
              &:nth-of-type(1)
                font-size 60px
                padding 30px auto

              &:nth-of-type(2)
                font-size 40px
                padding 30px 30px 0 30px

        &.socialProof
          margin-top 70px

          center
            img
              width 100%

        &.process
          h3
            font-size 400%
            padding 70px 0

          img
            width 100%

          center
            padding 60px
            background #fafafa

            p
              text-align left
              font-size 40px
              line-height 1.4
              margin-bottom 30px

        &.following
          height auto

          .aside
            max-width 100%
            transform initial
            box-sizing border-box
            position initial
            padding 80px

            p
              &:nth-of-type(1)
                font-size 55px
                font-weight bold
                display inline-block
                margin 60px 0

              &:nth-of-type(2)
                color black
                font-size 40px
                margin-bottom 40px

              &:nth-of-type(3)
                font-size 30px
                margin-bottom 50px

            a
              font-size 55px

  #hor-minimalist-b
    margin 80px auto
    width 800px
    font-size 30px

    th
      font-size 30px

// iPhone 6 in landscape
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) { /* STYLES GO HERE */ }

// iPhone 6 in portrait
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) { /* STYLES GO HERE */ }

// iPhone 6 Plus Media Queries
// iPhone 6 Plus in portrait & landscape
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) { /* STYLES GO HERE */ }

// iPhone 6 Plus in landscape
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) { /* STYLES GO HERE */ }

// iPhone 6 Plus in portrait
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) { /* STYLES GO HERE */ }

// iPhone 5 & 5S Media Queries
// iPhone 5 & 5S in portrait & landscape
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { /* STYLES GO HERE */ }

// iPhone 5 & 5S in landscape
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { /* STYLES GO HERE */ }

// iPhone 5 & 5S in portrait
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) { /* STYLES GO HERE */ }

// iPhone 2G, 3G, 4, 4S Media Queries
// It's noteworthy that these media queries are also the same for iPod Touch generations 1-4.

// iPhone 2G-4S in portrait & landscape
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { /* STYLES GO HERE */ }

// iPhone 2G-4S in landscape
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) { /* STYLES GO HERE */ }

// iPhone 2G-4S in portrait
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) { /* STYLES GO HERE */ }

// iPhone 5 Resolution
// Screen Width = 320px (CSS Pixels)
// Screen Height = 568px (CSS Pixels)

// Screen Width = 640px (Actual Pixels)
// Screen Height = 1136px (Actual Pixels)

// Device-pixel-ratio: 2
// // iPhone 4/4S Resolution
// Screen Width = 320px (CSS Pixels)
// Screen Height = 480px (CSS Pixels)

// Screen Width = 640px (Actual Pixels)
// Screen Height = 960px (Actual Pixels)

// Device-pixel-ratio: 2
// // iPhone 2G/3G/3GS Resolution
// Screen Width = 320px (CSS Pixels)
// Screen Height = 480px (CSS Pixels)

// Screen Width = 320px (Actual Pixels)
// Screen Height = 480px (Actual Pixels)

// Device-pixel-ratio: 1