@media only screen and (min-width: 480px) {
  html,
  body {
    width: 98%;
  }
}
@media only screen and (min-width: 768px) {
  html,
  body {
    width: 99%;
  }
  html section.process img,
  body section.process img {
    width: 100%;
  }
  html section.following .aside,
  body section.following .aside {
    transform: translateX(100%), translateY(-60%);
  }
}
@media only screen and (min-width: 1140px) {
  html,
  body {
    width: 97%;
  }
}
