nav {
  padding: 30px 40px 30px 100px;
  box-sizing: border-box;
}
nav .links {
  margin: 3px 0 0 0;
  float: right;
}
nav .links button {
  display: none;
}
nav .links a {
  outline: none;
}
nav .links a:focus {
  border-bottom: 3px solid $blue;
}
nav,
footer {
  width: 100%;
  background: #fff;
  margin: auto;
  display: table;
  font-size: 14px;
}
nav .logo,
footer .logo {
  float: left;
  width: auto;
  outline: none;
}
nav .logo img,
footer .logo img {
  margin-right: 0 !important;
  height: 40px;
  float: left;
}
nav .links a,
footer .links a {
  display: inline-block;
  margin-left: 25px;
  color: #7e8182;
  padding: 0 5px;
}
nav .links a:hover,
footer .links a:hover {
  border-bottom: 2px solid $blue;
}
nav .links a.rounded,
footer .links a.rounded {
  border: 2px solid $blue;
  border-radius: 20px;
  padding: 5px 10px;
  color: $blue;
  display: inline-block;
  transition: all ease-in-out 0.2s;
}
nav .links a.rounded:hover,
footer .links a.rounded:hover,
nav .links a.rounded:focus,
footer .links a.rounded:focus {
  background: $blue;
  color: #fff;
}
footer {
  margin-top: 150px;
}
footer center {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid #eee;
  width: 80%;
  margin: auto;
}
